#root {
  width: 50%;
    margin: 5% auto;
    font-size: 16px;
}

ul  {
    list-style: none;
    padding-left: 0!important;
  }

li {
      background: #f8f8f8;
      padding: 10px 10px 10px 20px;
      line-height: 30px;
      margin-bottom:0!important;
      border-bottom: 2px solid #fff;
}

li button {
  float: right;
}

.bp3-form-group .bp3-form-helper-text {
    color: #db3737!important;
}
